body {
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:75vh;
    margin:0;
}
.login-container {
    background:#fff;
    padding:30px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    width:300px;
}
.login-container h2 {
    text-align:center;
    margin-bottom:15px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width:92%;
    padding:10px;
    margin:8px 0 15px 0;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:content-box;
}
.login-container button {
    width:50%;
    padding:10px;
    border:none;
    background:#4CAF50;
    color:white;
    border-radius:4px;
    cursor:pointer;
    font-size:16px;
    display:block;
    margin: 0 auto;  
}
.login-container button:hover {
    background:#45a049;
}